.modal-enter-done {
    position:absolute; /* fixed */
    top: 8vh;
    left: 50%;
    transform: translate(-49%, 7%);
    width: 50%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
  }
  
  .modal__content {
    padding: 1rem 0.5rem;
  }

  .contentError_className {
    text-align: center;
    font-size: 1.3rem;
  }
  
  .modal__footer {
    padding: 5px 0.5rem;
  }
  
